<div class="example_code client_code" id="client_code">
  <div class="code_block _1" id="components">
    <h4>To use components in the html file use &lt;&lt;/component&gt;</h4>
    <p>Example</p>
    <pre>
            &lt;div class="custom-div"&gt;
                &lt;&lt;/component&gt;<br>
                &lt;&lt;/component&gt;<br>
                &lt;&lt;/component&gt;<br>
            &lt;/div&gt;
        </pre>
    <p>The components are called by file name in the /components folder</p>
  </div>
  <div class="code_block _2" id="options">
    <h4>
      The options.json is placed in the pages folder or u can place custom ones
      in a sub path
    </h4>
    <p>This is an example /options.json</p>
    <pre>
            {
                "layout": "main",
                "scripts": [
                    "home.js"
                ],
                "styles": [
                    "home.css"
                ],
                "render_options": {
                    "title": "Home",
                    "name": "Obsidian Engine"
                },
                "meta":{
                  "title": "Obsidian Engine",
                  "description": "This is the demo site of the obsidian engine"
                }
            }
        </pre
    >
    <p>The layout is defined in the /layouts folder</p>
    <p>
      render_options is used to define variables that can be used in a html file
      <a href="#variables">Go There</a>
    </p>
    <p>
      The <i>META</i> tag is used to define meta attributes for all the pages in
      the dir
    </p>
    <p>
      The <i>STYLES</i> are the styles that you want to use in every rendered
      file using the options.json, They are defined in the public/css
    </p>
    <p>
      The <i>SCRIPTS</i> are the scripts that you want to use in every rendered
      file using the options.json, They are defined in the public/js
    </p>
  </div>
  <div class="code_block _3" id="layouts">
    <h4>
      The layouts are found by file name so if we want the main layout we use
      layouts/main
    </h4>
    <p>Example</p>
    <pre>
            &lt;!DOCTYPE html&gt;
            &lt;html lang="en"&gt;
            &lt;head&gt;
                &lt;meta charset="UTF-8"&gt;
                &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                &lt;title>&lt;&lt;title&gt;&lt;/title&gt;
                &lt;link rel="stylesheet" href="css/style.css"&gt;
                &lt;script src="js/script.js"&gt;&lt;/script&gt;
            &lt;/head&gt;
            &lt;body&gt;
                &lt;div class="main"&gt;
                    &lt;div class="header"&gt;
                        &lt;div class="header__title"&gt;
                            &lt;h1>&lt;&lt;title&gt;&lt;/h1&gt;
                        &lt;/div&gt;
                        &lt;div class="header__subtitle"&gt;
                            &lt;h2>&lt;&lt;subtitle&gt;&lt;/h2&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="content"&gt;
                        &lt;&lt;$content&gt; //This is where the content of the pages that use the layout is rendered
                    &lt;/div&gt;
                    &lt;div class="footer"&gt;
                        &lt;div class="footer__description"&gt;
                            &lt;p>&lt;&lt;description&gt;&lt;/p&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/body&gt;
            &lt;/html&gt;
        </pre
    >
    <p>
      The &lt;&lt;$content&gt; is used to render the content of the pages that
      use the layout
    </p>
  </div>
  <div class="code_block _4" id="variables">
    <h4>
      The variables are defined in the options.json file and can also be defined
      in the query params so /route?param1=dwd
    </h4>
    <p>Example</p>
    <pre>
            &lt;&lt;$title&gt;
        </pre
    >
    <p>To use the variables in the html file use &lt;&lt;$variable_name&gt;</p>
    <p>
      Note: The variables are defined in the options.json file and can also be
      defined in the query params so /route?param1=dwd
    </p>
    <p>
      And if a variable is not found in the options.json or the query params it
      will not be changed
    </p>
  </div>
  <div class="code_block _5" id="components_file">
    <h4>To use components in the html file use &lt;&lt;/component&gt;</h4>
    <p>Example component</p>
    <pre>
            &lt;div class="custom-div"&gt;
                This is a custom div component.
            &lt;/div&gt;
        </pre
    >
    <p>The components are called by file name in the /components folder</p>
  </div>
  <div class="code_block" id="animations">
    <h4>Animations Can be used in the JavaScript file</h4>
    <p>Example:</p>
    <pre>
            const element = document.querySelector(".custom-div");
            fadeIn(element, 1000);
            fadeOut(element, 1000);
            slideIn(element, 1000);
            slideOut(element, 1000);
        </pre
    >
    <p>These are the animations that can be used</p>
    <ol>
      <li>fadeIn(element, duration)</li>
      <li>fadeOut(element, duration)</li>
      <li>slideIn(element, duration)</li>
      <li>slideOut(element, duration)</li>
      <li>slideLeft(element, duration)</li>
      <li>slideRight(element, duration)</li>
      <li>slideUp(element, duration)</li>
      <li>slideDown(element, duration)</li>
    </ol>
  </div>
 
  </div>
</div>
