<nav class="sidebar">
  <div class="mode-buttons selector">
    <button class="client-mode active">Client Mode</button>
    <button class="server-mode">Server Mode</button>
  </div>
  <ul class="nav flex-column client-mode client-mode_sidebar">
    <li class="nav-item client_buttons active">
      <a class="nav-link" href="#components">
        <i class="fas fa-code"></i> Components
      </a>
    </li>
    <li class="nav-item client_buttons">
      <a class="nav-link" href="#options">
        <i class="fas fa-cog"></i> Options
      </a>
    </li>
    <li class="nav-item client_buttons">
      <a class="nav-link" href="#layouts">
        <i class="fas fa-th"></i> Layouts
      </a>
    </li>
    <li class="nav-item client_buttons">
      <a class="nav-link" href="#variables">
        <i class="fas fa-clipboard"></i> Variables
      </a>
    </li>
    <li class="nav-item client_buttons">
      <a class="nav-link" href="#animations">
        <i class="fas fa-film"></i> Animations
      </a>
    </li>
  </ul>
  <ul class="nav flex-column server-mode_sidebar">
    <li class="nav-item server_buttons active">
      <a class="nav-link" href="#routes_define">
        <i class="fas fa-route"></i> Defining Routes
      </a>
    </li>
    <li class="nav-item server_buttons">
      <a class="nav-link" href="#database">
        <i class="fas fa-database"></i> Using the Database
      </a>
    </li>
    <li class="nav-item server_buttons">
      <a class="nav-link" href="#database_connect">
        <i class="fas fa-plug"></i> Connecting to the Database
      </a>
    </li>
    <li class="nav-item server_buttons">
      <a class="nav-link" href="#UsingAssets">
        <i class="fas fa-plug"></i> Adding Asset Dirs
      </a>
    </li>
    <li class="nav-item server_buttons">
      <a class="nav-link" href="#usingSSlCerts">
        <i class="fa-solid fa-certificate"></i> Implementing SSL Certificates
      </a>
    </li>
    <li class="nav-item server_buttons">
      <a class="nav-link" href="#applyingRateLimits">
        <i class="fas fa-hourglass"></i> Implementing Rate Limits
      </a>
    </li>
  </ul>
</nav>
